@using Seldino.CrossCutting.Web.ViewMessages

<div id="search">
    <button type="button" class="close">
        <i class="fa fa-times fa-2x"></i>
    </button>

    <div class="form-holder">
        <input type="search"/>
        <a><i class="fa fa-arrow-right"></i></a>
    </div>
</div>