<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="migrationEnabled" value="true"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <connectionStrings>
    <!--<add name="Seldino" connectionString="Data Source=74.63.251.194,1533;Network Library=DBMSSOCN;Initial Catalog=kadobinac_first;User ID=kadobinac_bozorgkian;Password=AhBk5308867;" providerName="System.Data.SqlClient" />-->
    <!--<add name="Seldino" connectionString="Data Source=74.63.251.194,1533;Network Library=DBMSSOCN;Initial Catalog=kadobinac_release;User ID=kadobinac_MainBranch;Password=sdfsdf2343d$6t;" providerName="System.Data.SqlClient" />-->
    <add name="Seldino" connectionString="Data Source=DESKTOP-6IVBKQI\EHSAN;Initial Catalog=Gift;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
